In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel("owid-covid-data.xlsx")
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [4]:
print(data.shape)
print(data.columns)

(342947, 67)
Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [5]:
# Our dataset includes data for 255 countries across a total of 1,359 different days.
print("Location:", data['location'].nunique())
print("Date:", data['date'].nunique())

Location: 255
Date: 1359

In [13]:
# number of available data from different days
date_count_by_location = data.groupby('location')['date'].nunique()
date_count_by_location_sorted = date_count_by_location.sort_values(ascending=True)
date_count_by_location_sorted

location
Western Sahara        1
Northern Cyprus     691
Macao               795
Wales              1198
England            1268
                   ...
Iraq               1357
Guatemala          1357
Low income         1357
Argentina          1359
Mexico             1359
Name: date, Length: 255, dtype: int64

In [15]:
date_count_by_location_sorted.sort_values(ascending = False).head(25)

location
Mexico                    1359
Argentina                 1359
American Samoa            1357
Dominican Republic        1357
Ecuador                   1357
Egypt                     1357
El Salvador               1357
Estonia                   1357
Europe                    1357
European Union            1357
Bulgaria                  1357
Brunei                    1357
British Virgin Islands    1357
Brazil                    1357
Africa                    1357
Albania                   1357
Andorra                   1357
Djibouti                  1357
Anguilla                  1357
Antigua and Barbuda       1357
Name: date, dtype: int64

## Missing Values

In [14]:
nan_count = data.isnull().sum()
nan_count_sorted = nan_count.sort_values(ascending=False)
nan_count_sorted.head(25)

weekly_icu_admissions                      332857
weekly_icu_admissions_per_million          332857
excess_mortality_cumulative_per_million    331026
excess_mortality                           331026
excess_mortality_cumulative                331026
excess_mortality_cumulative_absolute       331026
weekly_hosp_admissions_per_million         319951
weekly_hosp_admissions                     319951
icu_patients_per_million                   305538
icu_patients                               305538
hosp_patients                              304420
hosp_patients_per_million                  304420
total_boosters_per_hundred                 296084
total_boosters                             296084
new_vaccinations                           278271
people_fully_vaccinated                    271115
people_fully_vaccinated_per_hundred        271115
people_vaccinated                          267751
people_vaccinated_per_hundred              267751
new_tests                                  267544
new_tests_per_thousand                     267544
total_vaccinations                         264387
total_vaccinations_per_hundred             264387
total_tests                                263560
total_tests_per_thousand                   263560
dtype: int64

The majority of countries lack data concerning hospital and ICU admissions, with a notable prevalence of missing information regarding COVID testing. Several variables, including GDP, population, and life expectancy, are specific to each country and may offer limited predictive power for machine learning tasks.

In [11]:
# number of missing data by countries
missing_values_by_location = data.groupby('location').apply(lambda x: x.isnull().sum())
missing_values_df = pd.DataFrame(missing_values_by_location)
missing_values_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,54,0,5,81,0,5,...,1357,0,0,0,0,0,1357,1357,1357,1357
Africa,0,1357,0,0,1,0,5,1,0,5,...,1357,1357,1357,1357,1357,0,1357,1357,1357,1357
Albania,0,0,0,0,68,0,5,69,0,5,...,0,1357,0,0,0,0,1318,1318,1318,1318
Algeria,0,0,0,0,4,0,5,4,0,5,...,0,0,0,0,0,0,1344,1344,1344,1344
American Samoa,0,0,0,0,624,0,5,811,0,5,...,1357,1357,1357,0,1357,0,1357,1357,1357,1357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,0,0,0,0,1,1,1,1,1,1,...,1,1,1,0,1,0,1,1,1,1
World,0,1357,0,0,1,0,5,1,0,5,...,0,0,0,0,0,0,1357,1357,1357,1357
Yemen,0,0,0,0,100,0,5,120,0,5,...,0,0,0,0,0,0,1357,1357,1357,1357
Zambia,0,0,0,0,4,0,5,4,0,5,...,0,0,0,0,0,0,1356,1356,1356,1356
Zimbabwe,0,0,0,0,4,1,6,4,2,7,...,0,0,0,0,0,0,1356,1356,1356,1356

In [20]:
columns_to_exclude = ["iso_code", "continent", "location", "date"]
missing_values_df['sum_missing'] = missing_values_df.drop(columns=columns_to_exclude).sum(axis=1)
missing_total_by_location = missing_values_df[['location', 'sum_missing']]
missing_total_by_location = missing_total_by_location.sort_values(by='sum_missing', ascending=True)
missing_total_by_location.head(50)

                    location  sum_missing
location
Western Sahara             0          280
Italy                      0        90470
Czechia                    0        98540
Israel                     0       101755
Belgium                    0       103340
Malaysia                   0       105450
France                     0       105830
United States              0       116520
Chile                      0       118210
Estonia                    0       119510
Canada                     0       126255
Switzerland                0       128125
Spain                      0       128305
Lithuania                  0       130880
Argentina                  0       131445
Luxembourg                 0       133200
South Korea                0       134035
Ireland                    0       135540
South Africa               0       136910
United Kingdom             0       137115
Denmark                    0       138655
Australia                  0       139415
India                      0       139695
Greece                     0       140765
Germany                    0       145380
Slovenia                   0       147490
Norway                     0       147945
Netherlands                0       153485
Croatia                    0       153995
Japan                      0       155540
Malta                      0       156305
Ecuador                    0       157045
Austria                    0       157725
Uruguay                    0       158115
Latvia                     0       158225
Poland                     0       159060
Dominican Republic         0       159925
Sweden                     0       160265
Slovakia                   0       160395
Thailand                   0       160445
Portugal                   0       160775
Bulgaria                   0       161050
Peru                       0       161810
Bangladesh                 0       163485
Bolivia                    0       164720
Mexico                     0       164820
Finland                    0       165430
Turkey                     0       166230
Serbia                     0       166820
Pakistan                   0       169005

hi 
test
msg
in 
markdown