In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /Users/timhong/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/timhong/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/timhong/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/timhong/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/timhong/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/timhong/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /Users/timhong/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
data = pd.read_excel("owid-covid-data.xlsx")

data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [ ]:
print(data.shape)
print(data.columns)

(342947, 67)
Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [ ]:
# Our dataset includes data for 255 countries across a total of 1,359 different days.
print("Location:", data['location'].nunique())
print("Date:", data['date'].nunique())

Location: 255
Date: 1359

In [ ]:
# number of available data from different days
date_count_by_location = data.groupby('location')['date'].nunique()
date_count_by_location_sorted = date_count_by_location.sort_values(ascending=True)
date_count_by_location_sorted

location
Western Sahara        1
Northern Cyprus     691
Macao               795
Wales              1198
England            1268
                   ...
Iraq               1357
Guatemala          1357
Low income         1357
Argentina          1359
Mexico             1359
Name: date, Length: 255, dtype: int64

In [ ]:
date_count_by_location_sorted.sort_values(ascending = False).head(25)

location
Mexico                    1359
Argentina                 1359
American Samoa            1357
Dominican Republic        1357
Ecuador                   1357
Egypt                     1357
El Salvador               1357
Estonia                   1357
Europe                    1357
European Union            1357
Bulgaria                  1357
Brunei                    1357
British Virgin Islands    1357
Brazil                    1357
Africa                    1357
Albania                   1357
Andorra                   1357
Djibouti                  1357
Anguilla                  1357
Antigua and Barbuda       1357
Armenia                   1357
Aruba                     1357
Asia                      1357
Australia                 1357
Austria                   1357
Name: date, dtype: int64

## Missing Values

In [ ]:
nan_count = data.isnull().sum()
nan_count_sorted = nan_count.sort_values(ascending=False)
nan_count_sorted.head(25)

weekly_icu_admissions                      332857
weekly_icu_admissions_per_million          332857
excess_mortality_cumulative_per_million    331026
excess_mortality                           331026
excess_mortality_cumulative                331026
excess_mortality_cumulative_absolute       331026
weekly_hosp_admissions_per_million         319951
weekly_hosp_admissions                     319951
icu_patients_per_million                   305538
icu_patients                               305538
hosp_patients                              304420
hosp_patients_per_million                  304420
total_boosters_per_hundred                 296084
total_boosters                             296084
new_vaccinations                           278271
people_fully_vaccinated                    271115
people_fully_vaccinated_per_hundred        271115
people_vaccinated                          267751
people_vaccinated_per_hundred              267751
new_tests                                  267544
new_tests_per_thousand                     267544
total_vaccinations                         264387
total_vaccinations_per_hundred             264387
total_tests                                263560
total_tests_per_thousand                   263560
dtype: int64

The majority of countries lack data concerning hospital and ICU admissions, with a notable prevalence of missing information regarding COVID testing. Several variables, including GDP, population, and life expectancy, are specific to each country and may offer limited predictive power for machine learning tasks.

In [ ]:
# number of missing data by countries
missing_values_by_location = data.groupby('location').apply(lambda x: x.isnull().sum())
missing_values_df = pd.DataFrame(missing_values_by_location)
missing_values_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,54,0,5,81,0,5,...,1357,0,0,0,0,0,1357,1357,1357,1357
Africa,0,1357,0,0,1,0,5,1,0,5,...,1357,1357,1357,1357,1357,0,1357,1357,1357,1357
Albania,0,0,0,0,68,0,5,69,0,5,...,0,1357,0,0,0,0,1318,1318,1318,1318
Algeria,0,0,0,0,4,0,5,4,0,5,...,0,0,0,0,0,0,1344,1344,1344,1344
American Samoa,0,0,0,0,624,0,5,811,0,5,...,1357,1357,1357,0,1357,0,1357,1357,1357,1357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,0,0,0,0,1,1,1,1,1,1,...,1,1,1,0,1,0,1,1,1,1
World,0,1357,0,0,1,0,5,1,0,5,...,0,0,0,0,0,0,1357,1357,1357,1357
Yemen,0,0,0,0,100,0,5,120,0,5,...,0,0,0,0,0,0,1357,1357,1357,1357
Zambia,0,0,0,0,4,0,5,4,0,5,...,0,0,0,0,0,0,1356,1356,1356,1356
Zimbabwe,0,0,0,0,4,1,6,4,2,7,...,0,0,0,0,0,0,1356,1356,1356,1356

In [ ]:
columns_to_exclude = ["iso_code", "continent", "location", "date"]
missing_values_df['sum_missing'] = missing_values_df.drop(columns=columns_to_exclude).sum(axis=1)
missing_total_by_location = missing_values_df[['location', 'sum_missing']]
missing_total_by_location = missing_total_by_location.sort_values(by='sum_missing', ascending=True)
missing_total_by_location.head(50)

                    location  sum_missing
location
Western Sahara             0           56
Italy                      0        18094
Czechia                    0        19708
Israel                     0        20351
Belgium                    0        20668
Malaysia                   0        21090
France                     0        21166
United States              0        23304
Chile                      0        23642
Estonia                    0        23902
Canada                     0        25251
Switzerland                0        25625
Spain                      0        25661
Lithuania                  0        26176
Argentina                  0        26289
Luxembourg                 0        26640
South Korea                0        26807
Ireland                    0        27108
South Africa               0        27382
United Kingdom             0        27423
Denmark                    0        27731
Australia                  0        27883
India                      0        27939
Greece                     0        28153
Germany                    0        29076
Slovenia                   0        29498
Norway                     0        29589
Netherlands                0        30697
Croatia                    0        30799
Japan                      0        31108
Malta                      0        31261
Ecuador                    0        31409
Austria                    0        31545
Uruguay                    0        31623
Latvia                     0        31645
Poland                     0        31812
Dominican Republic         0        31985
Sweden                     0        32053
Slovakia                   0        32079
Thailand                   0        32089
Portugal                   0        32155
Bulgaria                   0        32210
Peru                       0        32362
Bangladesh                 0        32697
Bolivia                    0        32944
Mexico                     0        32964
Finland                    0        33086
Turkey                     0        33246
Serbia                     0        33364
Pakistan                   0        33801

In [ ]:
grouped_data = data.groupby('location').agg({'total_cases': 'sum', 'date': 'count'})

# Calculate average total cases per date
grouped_data['average_total_cases'] = grouped_data['total_cases'] / grouped_data['date']

# Sort by average total cases in descending order
grouped_data = grouped_data.sort_values(by='average_total_cases', ascending=False)

# Print the top 25 locations
top_25_locations = grouped_data.head(25)
print(top_25_locations[['total_cases', 'average_total_cases']])

                      total_cases  average_total_cases
location
World                4.706056e+11         3.467985e+08
High income          2.578533e+11         1.900171e+08
Asia                 1.569771e+11         1.156795e+08
Europe               1.567989e+11         1.155482e+08
Upper middle income  1.342961e+11         9.896547e+07
European Union       1.124142e+11         8.284025e+07
North America        8.770387e+10         6.463071e+07
Lower middle income  7.589257e+10         5.592672e+07
United States        7.318502e+10         5.393148e+07
South America        5.177662e+10         3.815521e+07
India                3.784821e+10         2.789109e+07
Brazil               2.842622e+10         2.094784e+07
China                2.839587e+10         2.092548e+07
France               2.283667e+10         1.682879e+07
Germany              2.112198e+10         1.556520e+07
United Kingdom       1.690212e+10         1.245551e+07
Russia               1.519084e+10         1.119443e+07
Italy                1.510661e+10         1.113235e+07
South Korea          1.474411e+10         1.086522e+07
Japan                1.388708e+10         1.023366e+07
Turkey               1.221523e+10         9.001642e+06
Africa               1.042877e+10         7.685163e+06
Spain                9.832514e+09         7.245773e+06
Argentina            7.628895e+09         5.613610e+06
Oceania              6.916788e+09         5.097118e+06

In [ ]:
# Group by 'location' and calculate average population density
grouped_data = data.groupby('location').agg({'population_density': 'mean', 'date': 'count'})

# Calculate average population density per date
grouped_data['average_population_density'] = grouped_data['population_density'] / grouped_data['date']

# Sort by average population density in descending order
grouped_data = grouped_data.sort_values(by='average_population_density', ascending=False)

# Print the top 25 locations
top_25_locations = grouped_data.head(25)
print(top_25_locations[['population_density', 'average_population_density']])

                            population_density  average_population_density
location
Macao                                20546.766                   25.844989
Monaco                               19347.500                   14.257553
Singapore                             7915.731                    5.833258
Hong Kong                             7039.714                    5.377933
Gibraltar                             3457.100                    2.547605
Bahrain                               1935.907                    1.426608
Maldives                              1454.433                    1.071800
Malta                                 1454.037                    1.071508
Bermuda                               1308.820                    0.964495
Bangladesh                            1265.036                    0.932230
Sint Maarten (Dutch part)             1209.088                    0.891001
Palestine                              778.202                    0.573472
Nauru                                  682.450                    0.502911
Barbados                               664.463                    0.489656
Mauritius                              622.962                    0.459412
Lebanon                                594.561                    0.438144
Saint Martin (French part)             590.533                    0.435175
Aruba                                  584.800                    0.430951
San Marino                             556.667                    0.410219
South Korea                            527.967                    0.389069
Netherlands                            508.544                    0.374756
Rwanda                                 494.869                    0.364948
India                                  450.419                    0.331923
Comoros                                437.352                    0.322531
Burundi                                423.062                    0.311993

In [ ]:
# List of countries from the provided data
countries = [
    'Macao', 'Monaco', 'Singapore', 'Hong Kong', 'Gibraltar',
    'Bahrain', 'Maldives', 'Malta', 'Bermuda', 'Bangladesh',
    'Sint Maarten (Dutch part)', 'Palestine', 'Nauru', 'Barbados',
    'Mauritius', 'Lebanon', 'Saint Martin (French part)', 'Aruba',
    'San Marino', 'South Korea', 'Netherlands', 'Rwanda', 'India', 'Comoros', 'Burundi'
]

# Filter the DataFrame for the specified countries
selected_countries = data[data['location'].isin(countries)]

# Group by 'location' and calculate the median age
median_age_data = selected_countries.groupby('location')['median_age'].median()

# Print the results
print(median_age_data)

location
Aruba                         41.2
Bahrain                       32.4
Bangladesh                    27.5
Barbados                      39.8
Bermuda                        NaN
Burundi                       17.5
Comoros                       20.4
Gibraltar                      NaN
Hong Kong                     44.8
India                         28.2
Lebanon                       31.1
Macao                         39.2
Maldives                      30.6
Malta                         42.4
Mauritius                     37.4
Monaco                         NaN
Nauru                          NaN
Netherlands                   43.2
Palestine                     20.4
Rwanda                        20.3
Saint Martin (French part)     NaN
San Marino                     NaN
Singapore                     42.4
Sint Maarten (Dutch part)      NaN
South Korea                   43.4
Name: median_age, dtype: float64

In [ ]:
country_list = ['ESP', 'PRT', 'DEU', 'FRA', 'BEL', 'NLD', 'AUT', 'CHE', 'ITA', 'HUN']
eu_data = data[data['iso_code'].isin(country_list)]

## eu_data.head()

missing_data = eu_data.isna().sum()
missing_percentage = (missing_data / len(eu_data)) * 100

missing_perc_df = pd.DataFrame(missing_percentage, columns=['Missing_Percentage'])
top_missing_eu = missing_perc_df.sort_values(by = 'Missing_Percentage', ascending = False)
top_missing_eu.head(40)

                                            Missing_Percentage
handwashing_facilities                              100.000000
excess_mortality_cumulative_per_million              86.042741
excess_mortality                                     86.042741
excess_mortality_cumulative                          86.042741
excess_mortality_cumulative_absolute                 86.042741
total_boosters_per_hundred                           66.020634
total_boosters                                       66.020634
weekly_icu_admissions_per_million                    65.453206
weekly_icu_admissions                                65.453206
people_fully_vaccinated_per_hundred                  64.708917
people_fully_vaccinated                              64.708917
new_vaccinations                                     64.244657
total_vaccinations                                   59.506264
total_vaccinations_per_hundred                       59.506264
people_vaccinated                                    57.848195
people_vaccinated_per_hundred                        57.848195
tests_per_case                                       48.496684
positive_rate                                        48.437730
new_tests_per_thousand                               47.656595
new_tests                                            47.656595
total_tests_per_thousand                             46.742815
total_tests                                          46.742815
weekly_hosp_admissions                               43.021371
weekly_hosp_admissions_per_million                   43.021371
new_tests_smoothed_per_thousand                      41.223287
new_tests_smoothed                                   41.223287
tests_units                                          40.707443
extreme_poverty                                      40.000000
hosp_patients_per_million                            36.757553
hosp_patients                                        36.757553
new_vaccinations_smoothed                            33.176124
new_vaccinations_smoothed_per_million                33.176124
new_people_vaccinated_smoothed_per_hundred           33.161385
new_people_vaccinated_smoothed                       33.161385
icu_patients_per_million                             28.025055
icu_patients                                         28.025055
reproduction_rate                                    23.927782
stringency_index                                     19.380987
total_deaths                                          4.318349
total_deaths_per_million                              4.318349

In [ ]:
fra_data = data[data['iso_code'].isin(['FRA'])]

missing_data_fra = fra_data.isna().sum()
missing_percentage_fra = (missing_data_fra / len(fra_data)) * 100

missing_perc_df_fra = pd.DataFrame(missing_percentage_fra, columns=['Missing_Percentage'])
top_missing_fra = missing_perc_df_fra.sort_values(by = 'Missing_Percentage', ascending = True)
top_missing_fra.head(50)

                                            Missing_Percentage
iso_code                                              0.000000
median_age                                            0.000000
population_density                                    0.000000
gdp_per_capita                                        0.000000
cardiovasc_death_rate                                 0.000000
diabetes_prevalence                                   0.000000
female_smokers                                        0.000000
male_smokers                                          0.000000
hospital_beds_per_thousand                            0.000000
life_expectancy                                       0.000000
human_development_index                               0.000000
aged_65_older                                         0.000000
new_deaths_per_million                                0.000000
population                                            0.000000
aged_70_older                                         0.000000
continent                                             0.000000
location                                              0.000000
date                                                  0.000000
new_cases                                             0.000000
new_deaths                                            0.000000
new_cases_per_million                                 0.000000
new_cases_smoothed                                    0.368460
new_deaths_smoothed                                   0.368460
new_cases_smoothed_per_million                        0.368460
new_deaths_smoothed_per_million                       0.368460
total_cases                                           1.694915
total_cases_per_million                               1.694915
total_deaths                                          5.305822
total_deaths_per_million                              5.305822
hosp_patients_per_million                            18.275608
hosp_patients                                        18.275608
icu_patients_per_million                             18.275608
icu_patients                                         18.275608
weekly_hosp_admissions                               18.791452
weekly_hosp_admissions_per_million                   18.791452
weekly_icu_admissions                                18.791452
weekly_icu_admissions_per_million                    18.791452
stringency_index                                     19.380987
reproduction_rate                                    23.507738
people_vaccinated                                    31.761238
total_vaccinations_per_hundred                       31.761238
people_vaccinated_per_hundred                        31.761238
total_vaccinations                                   31.761238
people_fully_vaccinated                              31.834930
new_vaccinations                                     31.834930
new_vaccinations_smoothed                            31.834930
people_fully_vaccinated_per_hundred                  31.834930
new_vaccinations_smoothed_per_million                31.834930
new_people_vaccinated_smoothed                       31.834930
new_people_vaccinated_smoothed_per_hundred           31.834930

Test message